* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}

/* #040D12 */
:root {
    --bg-color: #040D12;
    --txt-color: #fff;
    --main-color: #29fd53;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--txt-color);
}

body a {
    color: var(--txt-color);
}

/* -------------- MAKE THE BG IMAGE SCROLL EFFECT -------------- */
.page-wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.bg-spots {
    position: absolute;
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -5;
}

.bg-spots img {
    background-repeat: no-repeat;
    position: absolute;
    top: 34%;
    left: 50px;
    opacity: 0.5;
    transform: translateZ(-10px)scale(1.5);
}

/* -------------- MAKE THE BG IMAGE SCROLL EFFECT -------------- */

/* --------------- NAVIGATION BAR SECTION --------------- */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    background-color: #ffffff17;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12%;
    transition: all 0.5s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    margin-left: 3px;
    font-size: 40px;
    color: var(--main-color);
}

.logo span {
    font-size: 30px;
    font-weight: 600;
}

.mynavbar {
    display: flex;
}

.mynavbar a {
    font-size: 1.2rem;
    margin: 0 30px;
    padding: 5px 0;
    transition: all 0.5s;
}

.mynavbar a:hover {
    color: var(--main-color);
}

header ul .submenu {
    position: absolute;
    width: auto;
    max-height: 150px;
    overflow: scroll;
    background-color: #ffffff17;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
}

header ul li:hover .submenu {
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
}






.main {
    display: flex;
    align-items: center;
}

.main a {
    margin: 0 10px;
    font-size: 1.2rem;
    transition: all 0.2s;
}

.main a:hover {
    color: var(--main-color);
}

.main .user {
    display: flex;
    align-items: center;
}

.main .user i {
    margin-right: 3px;
    font-size: 28px;
    color: var(--main-color);
}

.main #menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .mynavbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block !important;
    }

    .mynavbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 170px;
        height: 36vh;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 15px;
        transition: all 0.5s;
    }

    .mynavbar a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.5s;
    }

    .mynavbar a:hover {
        color: var(--txt-color);
        transform: translateY(-5px);
    }

    .mynavbar a.active {
        color: var(--txt-color);
    }

    .mynavbar.open {
        right: 2%;
    }
    .submenu {
        position: absolute;
        left: 40px;
    
    }

}

/* ------------------------Start Details--------------------------- */

.bgplanet{
    margin-top: 100px;
    /* background-color: #29fd53; */
    border: 1px solid greenyellow;
    width: 100vw;
    height: 400px;

    background-image: url("../img/aboutus/welcome.png");
    background-position: bottom;
    background-size: cover;

    display: flex;
}
.headDiv{
    margin: auto;
}
.headDiv h1{
    font-size: 8rem;
    font-weight: bold;
    color: white;
    background-color: rgba(72, 72, 72, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px 40px;
    border-radius: 20px;
}

.details{
    margin-top: 150px;
    width: 100vw;
    height: 600px;
    /* background-color: red; */
    /* border: 5px solid rebeccapurple; */
    position: relative;
}
.details img{
    position: absolute;
    top: 10%;
    right: 100px;
    width: 500px;
    height: auto;
    transition: 1s;
    /* border: 2px solid orange; */
}
.details img:hover{
    transform: scale(1.1);
}
.quotes{
    width: 500px;
    /* background-color: #29fd53; */
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 2.1rem;
}
.quotes ul{
    /* list-style: none; */
}






.servicedetails {
    margin-top: 100px;
    border: 2px solid greenyellow;
    width: 100vw;
    height: auto; /* Adjust height to fit content */
    padding: 20px;
    
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    justify-content: space-between; /* Spread items evenly horizontally */
    align-items: center; /* Center items vertically */
}
.servicedetails h1{
    
    font-weight: bold;
    font-size: 3rem;
    border-bottom: 3px solid orangered;
    
    background-color: red;
    text-align: center;
}
.service{
    display: flex;
    margin: 90px 10px;
}

.service .row{
    margin: auto;
    padding: 20px;
   
}
.service ul li{
    font-size: 2rem;
    margin: 20px;
}







/* -------------------- FOOTER STARTS HERE -------------------- */
.footer-section {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 70vh;
    background-color: #0000008a;
}
/* #0000008a */

/* ------- footer top section ------- */
.footer-section .footer-top {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section .footer-top .site-brand .logo-title {
    display: flex;
    align-items: center;
}

.footer-section .footer-top .site-brand .logo-title h1 {
    font-size: 50px;
}

.footer-section .footer-top .site-brand .logo-title i {
    font-size: 60px;
    color: #29fd53;
}

.footer-section .footer-top .site-brand h3 {
    font-size: 26px;
    font-weight: lighter;
}

.footer-section .footer-top a,
i {
    transition: all .3s;
}

.footer-section .footer-top a:hover,
i:hover {
    color: #29fd53;
}

.footer-section ul {
    font-size: 20px;
}

#planets {
    scroll-margin: 10rem;
}

/* ------- horizontal line in the middle ------- */

hr {
    border: 0;
    height: 2px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(41,253,83,1) 50%, rgba(0,212,255,0) 100%);    /* Chrome10+,Safari5.1+ */
}


/* ------- footer bottom section ------- */
.footer-section .footer-bot {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}

.footer-section .footer-bot .header h3 {
    font-size: 24px;
    font-weight: lighter;
}

.footer-section .footer-bot .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-section .footer-bot .links i {
    font-size: 30px;
}

.footer-section .footer-bot .copyright p {
    font-size: 18px;
}

/* -------------------- FOOTER ENDS HERE -------------------- */