
* {
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}
:root {
    --bg-color: #040D12;
    --txt-color: #fff;
    --main-color: #29fd53;
}

/* body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../img/login/login-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
} */

/* --------------- NAVIGATION BAR SECTION --------------- */
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.082);
    background-color: #ffffff17;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12%;
    transition: all 0.5s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    margin-left: 3px;
    font-size: 40px;
    color: #29fd53;
}

.logo span {
    font-size: 30px;
    font-weight: 600;
}

.mynavbar {
    display: flex;
}

.mynavbar a {
    font-size: 1.2rem;
    margin: 0 30px;
    padding: 5px 0;
    transition: all 0.5s;
}

.mynavbar a:hover {
    color: var(--main-color);
}

header ul .submenu {
    position: absolute;
    width: auto;
    max-height: 150px;
    overflow: scroll;
    background-color: #ffffff17;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all ease 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-left: 0;
}

header ul li:hover .submenu {
    margin-top: 20px;
    opacity: 1;
    visibility: visible;
}

.main {
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.main a {
    margin: 0 10px;
    font-size: 1.2rem;
    transition: all 0.5s;
}

.main a:hover {
    color: #29fd53;
}

.main .user {
    display: flex;
    align-items: center;
}

.main .user i {
    margin-right: 5px;
    font-size: 28px;
    color: #29fd53;
}

.main #menu-icon {
    font-size: 35px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}


/* BODY STARTS HERE  */
body{
    
    background: #040D12;
    background-image: url("../img/home/bg-spots.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-bottom: 5rem;
}

.planet-section {
    padding-top: 6rem;
}
.heading-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.planets{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.child{
    
    background-color: rgba(255, 255, 255, 0.253);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); 
    border: 1px solid rgba(255, 255, 255, 0.39);
    width:400px ;
    height: 300px;
    margin: 20px;
    margin-top: 70px;
    border-radius: 20px;
    
    display: flex; /* Add display: flex; to center the content */
    flex-direction: column; /* Stack content vertically */
    justify-content: center; /* Center vertically */
    align-items: center; 

    transition: 0.5s;
    position: relative;
}


.child:hover{
    height: 350px;
}

.child .img{
    position: absolute;
    top: 10px;
    /* background-color: green; */
    transition: 0.4s;
}
 .planets .child:hover .img{
    top: -80px;
    scale: 0.75;
}



.child h2{
    position: absolute;
    top:-20px;
    left: 10px;
    background-color: #223838;
    padding: 5px 10px;
    border-radius: 20px;
}

.child p{
    font-size: 1.5rem;
    margin-top: 120px;
    /* color: white; */
}
.child .gist{
    position: absolute;
    display:none;
    text-align: left;
}
.gist a{
   
    
    position: static;
    left: 70px;
    text-decoration: none;
    font-size: 1.4rem;
    background-color: #223838;
    border: 1px solid #afeeee63;
    border-radius: 20px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 200px;

}
.gist span {
    color: #29fd53;
}
.gist a:hover{
    box-shadow: 1px 1px 20px #29fd53;
}
.gist a i{
    /* background-color: red; */
    font-size: 1.5rem;
   
    margin: 5px 10px 0 10px;
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: 0.2s;
    }

    .mynavbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    #menu-icon {
        display: block !important;
    }

    .mynavbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 170px;
        height: 36vh;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 15px;
        transition: all 0.5s;
    }

    .mynavbar a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.5s;
    }

    .mynavbar a:hover {
        color: var(--txt-color);
        transform: translateY(-5px);
    }

    .mynavbar a.active {
        color: var(--txt-color);
    }

    .mynavbar.open {
        right: 2%;
    }
    .submenu {
        position: absolute;
        right: 70px;
    
    }
}
